h1 Scholarship Program


!= partial('content/overview')

div.section
  h1 Scholarship Recipients

  for recipient, year in public.scholarships._data.index
    h2= year

    ol(class="list-group")

      for key, value in recipient
        li(class="list-group-item")
          article(class="scholarship-recipient")
            h2= key.name
            h3= key.type
            if key.type === "College"
              h3= key.major
            p
              span.school-name= key.school
              br   
              span.school-location= key.school_location

